%ul.admin_links
  -if @project and !@project.new_record?
    %li=link_to uri_for(@project) + '/edit', 'Edit ' + @project.to_s
  -if !@project or !@project.new_record?
    %li=link_to uri_for(Project) + 'new', 'New Project'
  %li=link_to '/logout', 'Logout'