html
  margin: 0px
  padding: 0px
  background: #FBFBFB
  height: 100%
body
  font-family: Georgia, Sans-Serif
  margin: 0px auto
  padding: 10px
  width: 940px
  background: #FFF
  height: 100%
  position: relative
h1, h2
  margin: 10px 0
  font-weight: 800
  letter-spacing: -0.07em
h1
  font-size: 3.5em
  a
    color: #000
    
h2
  font-size: 2.5em
  text-align: right
  border-bottom: 1px solid #EFEFEF
  margin-bottom: 30px
h3
  display: block
  padding-right: 10px
  float: left
  clear: left
  width: 140px
  margin: 0
  padding: 0 10px 0 0
  text-align: right
.project_summary h3
  width: 220px
.projects ul li
  border-bottom: 1px dotted #EFEFEF
  display: block
section
  display: block
  clear: both
  margin-top: 35px
a
  color: #D80
  text-decoration: none
  &:hover
    text-decoration: underline
label
  font-size: 22px
  display: block
  width: 150px
  clear: left
  text-align: right
  position: absolute
  bottom: 0px
  &:after
    content: ':'
input, textarea
  font-size: 22px
  width: 500px
  margin-left: 10px
  vertical-align: text-bottom
  position: absolute
  bottom: 0px
  left: 150px
textarea
  padding: 2px
  height: 90px
  font-size: 16px
form ul li
  display: block
  clear: both
  margin-top: 18px
  height: 45px
  position: relative
  &.textarea
    height: 105px
button
  margin-left: 160px
  height: 40px
  font-size: 16px
ul
  list-style-type: none
  padding: 0
  &.project_tools li
    display: inline
    margin: 5px 0
    padding: 0 10px
    border-left: 2px solid #000
    &:first-child
      border: none
      padding-left: 0px
      margin-left: -5px
    a
      padding: 0 5px
    a:hover
      text-decoration: none
      background: #D80
      color: #FFF
ul.admin_links
  position: absolute
  top: 0px
  right: 0px
  text-align: right