%form{:method => :post}
  %ul
    %li
      %label Username
      %input{:type=> :text, :name => :username}/
    %li
      %label Password
      %input{:type=> :password, :name => :password}/
  %button{:type => :submit} Login