-title 'All Projects'
%h2 All Projects
%ul
  - @projects.each do |project|
    %li.project_summary
      %section.project
        -unless project.image_url.blank?
          %img{:src => project.image_url}
        %h3=link_to project
        -unless project.description.blank?
          .project_description= project.description_html
        -else
          %p No Description
      %br{:class => 'clear'}/
