%h2 All Tools
%p.tools_description
  This is a listing of the tools used in the projects on this site. Bigger tools are used
  often, smaller tools are used less frequently.
  
%ul.cloud
  - @tools.each do |tool|
    %li{:class => "cloud-#{@size[tool.projects.count]}"}=link_to tool